
.App {
  text-align: center;
}

.main h1 {
  margin-top: 250px;
}

.main h2 {
  margin-top: 40px;
}

#top-nav {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 10px;
}

.chat-container {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}

.messages {
  height: 200px;
  overflow-y: auto;
}

.sent {
  text-align: right;
  background: #007bff;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.received {
  text-align: left;
  background: #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
